.container {
    // Вёрстка адаптивная, точки перелома 480px, 768px, 1280px.
    padding: 0 16px;
    margin: 0 auto;

    @media screen and (min-width: 480px) {
        width: 480px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
    }

    @media screen and (min-width: 1280px) {
        max-width: 1280px;
    }
}