@import './tools/vars';

@import './base/common';
@import './components/button';

@import './layout/hero-header';
@import './layout/products';
@import './layout/about';
@import './layout/advantages';
@import './layout/gallery';
@import './layout/customer-reviews';
@import './layout/contacts';
@import './layout/footer';