@mixin font($fw, $fs, $lh, $ls) {
    font-weight: $fw;
    font-size: $fs;
    line-height: ($lh / $fs);
    letter-spacing: $ls;
}

@mixin indents($pv, $ph, $ml, $mr) {
    padding: $pv $ph;
    margin-left: $ml;
    margin-right: $mr;
}


@mixin media($size) {
    @media screen and (min-width: $size) {
        @content;
    }
}