:root {
    --primary-text-color: #FFFFFF;
    --basic-text-color: #000000;
    --secondary-text-color: #907E82;
    --main-text-color: #FFA5BA;
    --accent-text-color: #D41443;
    --main-bg-color: #FFB8CA;
    --base-bg-color: #E5E5E5;
    --secondary-bg-color: #FFF5F6;
    --underline-color: #E1E1E1;
    --bg-cart-cream:   #FFB8CA;
    --bg-cart-coffee: #F0D1A5;
    --bg-cart-milkshakes: #C2E297;
   
    --btn-accent-bg-color: #ECEBEB;
    --btn-hero-border-radius: 20px;
    --btn-border-radius: 22px;

    --desk-regular-size: 16px;
    --tab-regular-size: 14px;
    --tel-regular-size: 12px;
}

$mob: 480px;
$tab: 768px;
$desk: 1280px;