<section class="about" id="about">
    <div class="container">
        <p class="about__pre-title">tradition and love</p>
        <h2 class="about__title">how it’s made?</h2>
        <div class="about-box">
            <div class="about-img"></div>
            <div class="about-text">
                <p class="about-text__description-top">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
                    cursus,
                    faucibus lorem eget, egestas eros.
                    Maecenas eleifend erat at justo fringilla.</p>
                    <p class="about-text__description-bottom">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
                        Mauris
                        rhoncus orci in imperdiet placerat.
                        Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.</p>
                    <p class="about-text__description-under-bottom"> Aliquam erat volutpat. Aenean accumsan.</p> 
                <button type="button" class="btn btn-about">Read more 
                    <svg class="bnt-about__icon" width="8" height="16">
                        <use href="./images/icons/icons.svg#icon-btn-vector-red"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>
