<section class="section section--advantages-background section--advantages-padding" id="advantages">
  <div class="container container--advantages-padding">
    <h2 class="section__title visually-hidden">Advantages</h2>
    <ul class="advantages">
      <li class="advantages__item">
        <p class="advantages__text advantages-text">721</p>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantages__item">
        <p class="advantages__text advantages-text">16kg</p>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantages__item">
        <p class="advantages__text advantages-text">84</p>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </div>
</section>
