<section class="customers-review">
  <h2 class="customers-riview__title visually-hidden">Customers reviews</h2>
  <div class="container">
    <div class="review-slider">
      <div class="review-slider__item">
        <img
          srcset="./images/img/face1_1x.png 1x, ./images/img/face1_2x.png 2x"
          src="./images/img/face1_1x.png"
          alt="First reviewer photo"
          class="review-slider__img"
        />
        <div class="review-slider__wrapper">
          <div class="review-slider__gradient">
            <p class="review-slider__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue.
              <span
                class="txt-rotate"
                data-period="2000"
                data-rotate='[ " Lorem ipsum primis in nibh vel risus." ]'
              ></span>
            </p>
          </div>
        </div>
        <p class="review-slider-dots__text">Emily, Los Angeles</p>
      </div>

      <div class="review-slider__item">
        <img
          srcset="./images/img/face2_1x.png 1x, ./images/img/face2_2x.png 2x"
          src="./images/img/face2_1x.png"
          alt="Second reviewer photo"
          class="review-slider__img"
        />
        <div class="review-slider__wrapper">
          <div class="review-slider__gradient">
            <p class="review-slider__text">
              In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              Nullam viverra consectetuer.
              <span
                class="txt-rotate"
                data-period="2000"
                data-rotate='[ " Quisque cursus et, porttitor risus. Aliquam sem." ]'
              ></span>
            </p>
          </div>
        </div>
        <p class="review-slider-dots__text">Alexa, New-York</p>
      </div>

      <div class="review-slider__item">
        <img
          srcset="./images/img/face3_1x.png 1x, ./images/img/face3_2x.png 2x"
          src="./images/img/face3_1x.png"
          alt="Third"
          class="review-slider__img"
        />
        <div class="review-slider__wrapper">
          <div class="review-slider__gradient">
            <p class="review-slider__text">
              Quisque cursus et, porttitor risus. Aliquam sem. Nullam viverra consectetuer. In
              hendrerit nulla quam nunc, accumsan congue.
              <span
                class="txt-rotate"
                data-period="2000"
                data-rotate='[ " Quisque cursus et, lorem ipsum primis." ]'
              ></span>
            </p>
          </div>
        </div>
        <p class="review-slider-dots__text">Sandra, Denver</p>
      </div>

      <a class="review-slider__prev" onclick="minusSlide()"></a>
      <a class="review-slider__next" onclick="plusSlide()"></a>
    </div>

    <div class="review-slider-dots">
      <span class="review-slider-dots__item" onclick="currentSlide(1)"></span>
      <span class="review-slider-dots__item" onclick="currentSlide(2)"></span>
      <span class="review-slider-dots__item" onclick="currentSlide(3)"></span>
    </div>
  </div>
</section>
