<footer class="footer" id="footer">
  <div class="footer__parts container">
    <div class="footer-title part">
      <p class="footer__title--one">homemade ice cream made</p>
      <p class="footer__title--two">with passion</p>
    </div>
    <div class="footer__contact part">
      <ul class="footer__sms list">
        <li class="footer__site">
          <a
            href="https://github.com"
            target="_blank"
            rel="noopener noreferrer nofollow"
            class="footer__link link"
          >
            <svg width="20" height="20" class="footer__icons">
              <use href="./images/icons/icons.svg#icon-github"></use>
            </svg>
          </a>
        </li>
        <li class="footer__site">
          <a
            href="https://web.telegram.org"
            target="_blank"
            rel="noopener noreferrer nofollow"
            class="footer__link link"
          >
            <svg width="20" height="20" class="footer__icons">
              <use href="./images/icons/icons.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li class="footer__site">
          <a
            href="https://www.facebook.com"
            target="_blank"
            rel="noopener noreferrer nofollow"
            class="footer__link link"
          >
            <svg width="20" height="20" class="footer__icons">
              <use href="./images/icons/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>

      <p class="footer__text">
        Feel free to contact
        <a class="footer__tel link" href="tel:+610383766284">+61 (0) 383 766 284</a>
      </p>
    </div>
  </div>
  <div class="footer__copyright--border">
    <p class="footer__copyright">© 2019 - IceCream. All Rights Reserved.</p>
  </div>
</footer>
