<section class="section">
    <div class="thumb">
        <div class="container">
            <h2 class="section__title visually-hidden">Gallery</h2>

            <picture>
                <source srcset="./images/img/p5-desk_1x.png 1280w, ./images/img/p5-desk_2x.png 2560w"
                    media="(min-width:1280px)" sizes="(min-width:1280px) 1280px, 2560px">
                <source srcset="./images/img/p5-tab_1x.png 768w, ./images/img/p5-tab_2x.png 1536w"
                    media="(min-width:768px)" sizes="(min-width:768px) 768px, 1536px">
                <source srcset="./images/img/p5-mob_1x.png 320w, ./images/img/p5-mob_2x.png 640w"
                    media="(min-width:320px)" sizes="(min-width:320px) 320px, 640px">
                <img src="./images/img/p5-desk_1x.png" alt="gallery">
            </picture>
        </div>
    </div>
</section>