<section class="hero-header">
<nav class="nav">
    <a href="" class="logo">
        <img srcset="./images/img/logo_1x.png 1x, ./images/img/logo_2x.png 2x" src="./images/img/logo_1x.png" alt="Icecream logo" width="199" height="50">
    </a>
    <button type="button" class="menu-open-btn btn">
        <svg class="#" width="20" height="12">
          <use href="./images/icons/icons.svg#icon-Burger"></use>
        </svg>
</button>
</nav>
<h1 class="hero-title">ice cream made with <span class="hero-title__current">passion</span></h1>
<svg class="hero-ellipse" width="346" height="344">
    <use href="./images/icons/icons.svg#icon-ellipse"></use>
</svg>
<div class="button-wrap">
    <button type="button" class="hero-primary-btn btn">Products</button>
    <button type="button" class="hero-secondary-btn btn">How it's made</button>
</div>
</section>