<div class="backdrop is-hidden" data-modal-franchise>
  <div class="wrapper">
    <div class="close-franchise" data-modal-franchise-close></div>
    <form class="form-franchise">
      <h2 class="form-franchise__title">to work with us</h2>
      <p class="form-franchise__text">Sign up for a free consultation with an expert!</p>
      <div class="form-field">
        <label for="user_name" class="form-field__text"></label>
        <input
          type="text"
          name="text"
          id="user_name"
          class="form-field__input"
          placeholder="name"
        />
      </div>
      <div class="form-field">
        <label for="user_tel" class="form-field__text"></label>
        <input
          type="text"
          name="niche"
          id="user_tel"
          class="form-field__input"
          placeholder="your niche"
        />
      </div>
      <div class="form-field">
        <label for="user_email" class="form-field__text"></label>
        <input
          type="email"
          name="email"
          id="user_email"
          class="form-field__input"
          placeholder="e-mail"
        />
      </div>
      <button type="submit" class="form-franchise__button" data-modal-franchise-close>
        submit
      </button>
      <p class="form-franchise__policy">
        By clicking on the button, you consent to the processing of personal data and agree to the
        privacy policy
      </p>
    </form>
  </div>
</div>
