<section class="products"><a href="" name="products"></a>
  <div class="container">
  
    <p class="products__title-text">100% natural</p>
  <h2 class="products__title">products</h2>

  
  <ul class="products__list">
    <li class="products__item accent--pink">
      <div class="products__trumb trumb-pink ">
         <!-- <picture>
          <source
          
          srcset="
          ././images/img/p1-desk_1x.png 1x,
          ././images/img/p1-desk_2x.png 2x
      "
         media="(min-width: 1280px)" 
          />
          
        
          <source
          
          srcset="
          ././images/img/p1-tab_1x.png 1x,
          ././images/img/p1-tab_2x.png 2x
      "
         media="(min-width: 768px)" 
          />
         
        
          <source
          
          srcset="
          ././images/img/p1-mob_1x.png 1x,
          ././images/img/p1-mob_2x.png 2x
      "
         media="(min-width: 480px)" 
          />
          <img class="products__img" src="././images/img/p1-mob_1x.png" alt="ice cream"  width="280">
        </picture> -->
      </div>
      <h3 class="products__item-title">ice cream</h3>
      
      
      <p class="products__item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
      <button class="products__btn">
        <picture>
          <source
          
          srcset="
          ././images/img/p_arrow-right1x.png 1x,
          ././images/img/p_arrow-right2x.png 2x
      "
         media="(min-width: 1280px)" 
          />
          
        
          <source
          
          srcset="
          ././images/img/p_arrow-right1x.png 1x,
          ././images/img/p_arrow-right2x.png 2x
      "
         media="(min-width: 768px)" 
          />
          
        
          <source
          
          srcset="
          ././images/img/p_arrow-right1x.png 1x,
          ././images/img/p_arrow-right2x.png 2x
      "
         media="(min-width: 480px)" 
          />
          <img class="img-arrow" src="././images/img/p_arrow-right2x.png" alt="ice cream" >
        </picture>
      </button>
    </li>
    
    <li class="products__item accent--caramel">
      <div class="products__trumb trumb-caramel ">
         <!-- <picture>
        <source
        
        srcset="
        ././images/img/p2-desk_1x.png 1x,
        ././images/img/p2-desk_2x.png 2x
    "
       media="(min-width: 1280px)" 
        />
        
      
        <source
        
        srcset="
        ././images/img/p2-tab_1x.png 1x,
        ././images/img/p2-tab_2x.png 2x
    "
       media="(min-width: 768px)" 
        />
       
      
        <source
        
        srcset="
        ././images/img/p2-mob_1x.png 1x,
        ././images/img/p2-mob_2x.png 2x
    "
       media="(min-width: 480px)" 
        />
        <img class="products__img" src="././images/img/p2-mob_1x.png" alt="ice cream"  width="280">
      </picture> -->
    </div>
      
      <h3 class="products__item-title">ice coffee</h3>
      
 
      <p class="products__item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
      <button class="products__btn">
        <picture>
          <source
          
          srcset="
          ././images/img/p_arrow-right1x.png 1x,
          ././images/img/p_arrow-right2x.png 2x
      "
         media="(min-width: 1280px)" 
          />
          
        
          <source
          
          srcset="
          ././images/img/p_arrow-right1x.png 1x,
          ././images/img/p_arrow-right2x.png 2x
      "
         media="(min-width: 768px)" 
          />
          
        
          <source
          
          srcset="
          ././images/img/p_arrow-right1x.png 1x,
          ././images/img/p_arrow-right2x.png 2x
      "
         media="(min-width: 480px)" 
          />
          <img class="img-arrow" src="././images/img/p_arrow-right2x.png" alt="ice coffee" >
        </picture>
      </button>
    </li>
    
    <li class="products__item accent--green">
      <div class="products__trumb  trumb-green">
        <!-- <picture>
          <source
          
          srcset="
          ././images/img/p3-desk_1x.png 1x,
          ././images/img/p3-desk_2x.png 2x
      "
         media="(min-width: 1280px)" 
          />
         
        
          <source
          
          srcset="
          ././images/img/p3-tab_1x.png 1x,
          ././images/img/p3-tab_2x.png 2x
      "
         media="(min-width: 768px)" 
          />
         
        
          <source
          
          srcset="
          ././images/img/p3-mob_1x.png 1x,
          ././images/img/p3-mob_2x.png 2x
      "
         media="(min-width: 480px)" 
          />
          <img class="products__img" src="././images/img/p3-mob_1x.png" alt="ice coffee"  width="280">
        </picture> -->
      </div>
      
      <h3 class="products__item-title">milkshakes</h3>
     
    
      <p class="products__item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
      <button class="products__btn">
        <picture>
          <source
          
          srcset="
          ././images/img/p_arrow-right1x.png 1x,
          ././images/img/p_arrow-right2x.png 2x
      "
         media="(min-width: 1280px)" 
          />
          
        
          <source
          
          srcset="
          ././images/img/p_arrow-right1x.png 1x,
          ././images/img/p_arrow-right2x.png 2x
      "
         media="(min-width: 768px)" 
          />
          
        
          <source
          
          srcset="
          ././images/img/p_arrow-right1x.png 1x,
          ././images/img/p_arrow-right2x.png 2x
      "
         media="(min-width: 480px)" 
          />
          <img class="img-arrow" src="././images/img/p_arrow-right2x.png" alt="milkshakes">
        </picture>
      </button>
    </li>
  </ul>

  </div>
</section>