<!-- <div class="temporary__abouts">
  <button type="button" class="btn-about">press here</button>
</div> -->

<div class="overlay overlay--off">
  <div class="readmore__modal">
    <p class="readmore__title">How is milk made?</p>
    <p class="readmore__text">Pasteurisation</p>
    <p class="readmore__text">Homogenisation</p>
    <p class="readmore__text">Ultrafiltration</p>
    <p class="readmore__text">Reverse osmosis</p>
    <p class="readmore__text">Ultra osmosis</p>
    <p class="readmore__text">Spray drying</p>
    <p class="readmore__text">Permeate</p>
  </div>
</div>

<script>
  const testButton = document.querySelector('.btn-about');
  const overlay = document.querySelector('.overlay');
  const modal = document.querySelector('.readmore__modal');

  testButton.addEventListener('click', () => overlay.classList.toggle('overlay--off'));
  overlay.addEventListener('click', () => overlay.classList.toggle('overlay--off'));
</script>
