.btn {
    font-family: inherit;
    cursor: pointer;
    border: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@mixin font($fw, $fs, $lh, $ls) {
    font-weight: $fw;
    font-size: $fs;
    line-height: ($lh / $fs);
    letter-spacing: $ls;
}

@mixin indents($pv, $ph, $ml, $mr) {
    padding: $pv $ph;
    margin-left: $ml;
    margin-right: $mr;
}

@mixin btn-form($wi, $hi, $br) {
    width: $wi;
    height: $hi;
    border-radius: $br;
}

@mixin btn-color($col, $bgc, $bgc2) {
    background-color: $bgc;
    color: $col;

    &:hover,
    &:focus {
        background-color: $bgc2;
    }
}

.btn__modal {
    //  modal mobil
    @include btn-form(209px, 44px, 22px);
    @include btn-color(#D41443, #FFFFFF, #ECEBEB);

    @include font(700, 16px, 21px, null);

    // modal tablet
    @include media ($tab) {
        @include btn-form(186px, 44px, 22px);
    }
}

.btn__header {
    @include indents(0, 0, auto, 0px);
    @include btn-form(159px, 44px, 22px);
    @include btn-color(#D41443, #FFFFFF, #ECEBEB);
    @include font(700, 16px, 21px, null);
}