.btn {
    font-family: inherit;
    cursor: pointer;
    border: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btn__modal {
    //  modal mobil
    @include btn-form(209px, 44px, 22px);
    @include btn-color(#D41443, #FFFFFF, #ECEBEB);

    @include font(700, 16px, 21px, null);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    // modal tablet
    @include media ($tab) {
        @include btn-form(186px, 44px, 22px);
    }
}

.btn__header {
    @include indents(0, 0, auto, 0px);
    @include btn-form(159px, 44px, 22px);
    @include btn-color(#D41443, #FFFFFF, #ECEBEB);
    @include font(700, 16px, 21px, null);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

