.hero-header {
    position: relative;
    min-height: 502px;
    background-color: var(--main-bg-color);

    padding-top: 8px;
    padding-right: 20px;
    padding-left: 20px;

    @include media(768px) {
        padding-top: 32px;
        padding-right: 32px;
        padding-left: 32px;
    }

    @include media(1280px) {
        padding-top: 40px;
        padding-right: 16px;
        padding-left: 16px;
    }
}

.header {
    
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
} 

.logo {
    text-decoration: none;
}

.menu-open-btn {
    padding: 0 0;
    background-color: transparent;
}

.hero-title {
    width: 218px;
    height: 106px;
    margin-top: 136px;
    margin-bottom: 20px;
    margin-right: 0px;

    font-family: 'Titan One';
    @include font(400, 26px, 30px, 0.04em);
    text-transform: uppercase;
    color: var(--primary-text-color);
}

.hero-title__current {
    font-family: 'Titan One';
    @include font(400, 48px, 46px, null);
    text-transform: uppercase;
    color: var(--accent-text-color);
}

.hero-ellipse {
    position: absolute;
}

.button-wrap {
    display: flex;
}

.hero-primary-btn {
    width: 62.4px;
    height: 24px;
    margin-right: 8px;

    font-family: 'DM Sans';
    @include font (400, 8px, 10px, null);

    color: var(--primary-text-color);
    background-color: #D41443;
    border-radius: var(--btn-hero-border-radius);

}

.hero-secondary-btn {
    width: 82.8px;
    height: 24px;
    font-family: 'DM Sans';
    @include font (400, 8px, 10px, null);
  

    color: var(--accent-text-color) ;
    background-color: #FFFFFF;
    border-radius: var(--btn-hero-border-radius);
}

// .hero-title {
// color: var(--primary-text-color);
// }

// .hero-title__accent {
//     color: var(--accent-text-color);
// }