.block {
    display: block;
  }
  
  
  .mobile__block {
    display: none;
  }
  


// .mobile__block {
//     border-bottom: 1px solid #ececec;
//   }
  
  .mobile__container {
    align-items: center;
    position: relative;
    display: flex;
    justify-content: space-between;
     padding: 16px 0;
  
    @media screen and (min-width: 768px) {
      justify-content: flex-start;
     padding: 0;
    }
  }
  
  .nav__link {
    // display: block;
    position: relative;
    // padding-top: 32px;
    // padding-bottom: 32px;
  
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    
    color: var(--main-title-color);
    transition: color 250ms var(--timing-function);
  
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
    &:hover::after,
    &:focus::after {
      opacity: 1;
    }
  
    @media screen and (min-width: 768px) {
      display: block;
      padding-top: 32px;
      padding-bottom: 32px;
      font-size: 14px;
      line-height: 1.14;
  
      &.nav__link--current::after {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 4px;
        bottom: 0;
        border-radius: 2px;
        background-color: var(--accent-color);
      }
      &.nav__link--current {
        color: var(--accent-color);
        position: relative;
      }
    }
  }
  
  .nav__item:not(:last-child) {
    @media screen and (max-width: 767px) {
      flex-direction: column;
      margin-bottom: 32px;
    }
  }
  
  // .navigation {
  //   display: flex;
  //   align-items: center;
  // }
  
  
  .mobile__menu {
    @media screen and (max-width: 767px) {
      z-index: 1;
      overflow: auto;
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      padding: 48px 40px;
      background: #ffffff;
     
      transform: translateX(100%);
      transition: transform 250ms var(--timing-function);
    }
  
    @media screen and (min-width: 768px) {
     
    }
  }
  
  .mobile__menu.is-open {
  
    transform: translateX(0);
    background-color: #E17992;
  }
  
  
  .button__open,
  .button__close {
    position: absolute;
    top: 10px;
    right: 15px;
  
    background-color: transparent;
    border: none;
  
    &:hover,
    &:focus,
    &:active {
      fill: var(--accent-color);
    }
    @media screen and (min-width: 768px) {
    
    }
  }