.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(233, 140, 166, 0.2);
    z-index: 500;

    opacity: 1;
    transition: opacity 500ms cubic-bezier(.17, .67, .83, .67);
    padding: 15px;
    
}
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: opacity 500ms cubic-bezier(.17, .67, .83, .67);
}

.backdrop.is-hidden .wrapper {
    transform: translate(-50%, -50%) scale(0.5);
}
.wrapper {
    position: relative;
    visibility: visible;
    padding: 20px;
    max-width: 300px;
    border-radius: 8px;
    transform: scale(1);
    transition: scale 500ms cubic-bezier(.17, .67, .83, .67);
    background-color: #FFA5BA;
z-index: 501;
    @media screen and(min-width:480px) {
        position: absolute;
        padding: 40px;

        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        min-width: 350px;
        
    }

    @media screen and(min-width:1280px) {
        min-width: 400px;
        transition: transform 500ms cubic-bezier(.17, .67, .83, .67);
    }
.form-franchise{
    text-align: center;
    
}
    }
    .form-field {
        display: flex;
        flex-direction: column;
        margin-bottom: 35px;
    }
    
    .form-field__input {
        display: flex;
        padding-left: 10px;
   
        min-width: 150px;
        height: 25px;
        
        outline: none;
        border: none;
        background-color: transparent;
        border-bottom: 2px solid #D41443;
    
        @media screen and(min-width:768px) {
            min-width: 250px;
        
        }
        
        &::placeholder {
            font-weight: 400;
            font-size: 14px;
            font-family: 'Titan One';
            line-height: 1.2;
            letter-spacing: 0.05em;
            color: #D41443;
        }
    }
    .form-franchise__button {
        padding: 5px 25px;
        border-radius: 25px;
        min-width: 150px;
    
        color: #FFA5BA;
        background-color: #D41443;
        border-color: transparent;
    
        text-transform: uppercase;
        font-family: 'Titan One';
        font-weight: 400;
        font-size: 15px;
        line-height: 1.5;
        letter-spacing: 0.09em;
        cursor: pointer;

        margin-bottom: 20px;
       
        }
    
    .form-franchise__title{
        font-size: 20px;
        font-weight: 900;
        font-family: 'Titan One';
        font-style: inherit;
        color: #D41443;
        text-transform: uppercase;
        line-height: 1.2;
        letter-spacing: 0.03em;
        text-align: center;
        margin: 0;
        margin-bottom: 12px;

        @media screen and(min-width:768px) {
            font-size: 30px;
        
        }
    }
    .form-franchise__text{
        font-size: 15px;
        font-weight: 400;
        font-family: inherit;
        font-style: inherit;
        color: #D41443;
        line-height: 1.2;
        letter-spacing: 0.03em;
        text-align: center;
        
        margin-bottom: 20px;
    }
    .form-franchise__policy{
        font-size: 10px;
        font-weight: 400;
        font-family: inherit;
        font-style: inherit;
        color: #D41443;
        line-height: 1.2;
        letter-spacing: 0.03em;
        text-align: center;
       
        
    }