// Модальное окно

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
    z-index: 5;

    overflow-y: scroll;
    background: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: $mobile) {
        padding: 0;
    }
}

.backdrop.is-hidden .modal {
    opacity: 0;

    @media screen and (min-width: $mobile) {
        transform: translate(-50%, -50%) scale(0.9);
    }
}

.modal {
    position: relative;
    width: 100%;
    padding: 40px;

    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    opacity: 1;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
        opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: $mobile) {
        max-width: 450px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
    }

    @media screen and (min-width: $desktop) {
        max-width: 528px;
    }
}

.modal__close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    background-color: #ffffff;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        fill: $accent-color;
    }
}

.modal__close-icon {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal-form__header {
    margin-bottom: 12px;

    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;

    color: $header-color;

    @media screen and (min-width: $desktop) {
        line-height: 1.15;
    }
}

.modal-form__box {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: $main-text-color;
}

.modal-form__label {
    margin-bottom: 4px;
}

.modal-form__thumb {
    position: relative;
}

.modal-form__input {
    height: 40px;
    padding: 11px 12px;
    padding-left: 42px;
    width: 100%;

    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        outline-color: $accent-color;
    }
}

.modal-form__input-icon {
    position: absolute;
    top: 11px;
    left: 12px;
    fill: $header-color;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .modal-input:focus+& {
        fill: $accent-color;
    }
}

.modal-form__box--comment {
    margin-bottom: 20px;
}

.modal-form__textarea {
    width: 100%;
    height: 120px;
    padding: 12px 16px;

    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;

    &:focus {
        outline-color: $accent-color;
    }

    &::placeholder {
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.01em;

        color: rgba(117, 117, 117, 0.5);
    }
}

.modal-form__checkbox-label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;

    @media screen and (min-width: $desktop) {
        font-size: 14px;
        line-height: 1.71;
    }
}

.checkbox__icon {
    display: block;
    flex-shrink: 0;
    margin-right: 7px;
    width: 16px;
    height: 15px;
    box-shadow: 0 0 0 0.1em $header-color;
    border-radius: 2px;
    background-color: $secondary-text-color;

    .checkbox:checked+& {
        background-color: $accent-color;
        background-image: url(../images/icon-check.svg);
        background-size: contain;
        background-origin: border-box;
        box-shadow: 0 0 0 0.1em $accent-color;
    }

    .checkbox:focus+& {
        box-shadow: 0 0 0 2px black;
    }
}

.modal-form__submit-button-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-form__submit-button {
    @extend %button;
    padding-left: 55px;
    padding-right: 55px;
}