// .products__item.accent--pink {
//   transition: transform 300ms;
//   transform: perspective(400px) rotateY(180deg);
// }

.products__item-pink {
  //   transition: transform 300ms;
  transform: translateX(-100%) perspective(400px) rotateY(180deg);
}

.products__item-caramel {
  //   transition: transform 300ms;
  transform: perspective(400px) rotateX(180deg);
}

.products__item-green {
  //   transition: transform 300ms;
  //   transform: perspective(400px) rotateY(180deg);
  transform-origin: 70% 10%;
  transform: rotate(-155deg);
}
