.overlay {
  position: fixed;

  opacity: 1;
  transform: scale(1, 1);
  transition: transform 250ms ease-in, opacity 250ms ease-in;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(225, 121, 146, 0.5);
}

.overlay--off {
  opacity: 0;
  transform: scale(0.01, 0.01);
}

.readmore__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: 'Titan One';
  font-size: 24px;
  line-height: 1.45;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  transform: translate(-50%, -50%) scale(0.5, 0.5);
  transition: transform 500ms ease-in, box-shadow 500ms ease-in;
  width: 250px;
  height: 500px;
  padding: 16px;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 380px;
    height: 580px;
    padding: 24px;
  }

  @media screen and (min-width: 1280px) {
    width: 550px;
    height: 640px;
    padding: 32px;
  }

  background-color: rgba(225, 121, 146, 1);
  border-radius: 24px;
  box-shadow: 9px 10px 16px 11px rgba(128, 0, 0, 0.6);

  //   &:hover {
  //     transform: translate(-50%, -50%) scale(1, 1) perspective(400px) rotateY(180deg);
  //     box-shadow: -9px 10px 16px 11px rgba(128, 0, 0, 0.6);
  //   }

  //   &:hover .readmore__text,
  //   &:hover .readmore__title {
  //     transform: rotateY(180deg);
  //   }

  .overlay:hover & {
    transform: translate(-50%, -50%) scale(1, 1) perspective(400px) rotateY(180deg);
    box-shadow: -9px 10px 16px 11px rgba(128, 0, 0, 0.6);
  }

  .overlay:hover & .readmore__text,
  .overlay:hover & .readmore__title {
    transform: rotateY(180deg);
  }
}

.readmore__title {
  color: #d41443;

  text-align: center;
  transition: transform 400ms ease-in;
}

.readmore__text {
  margin-top: 10px;
  color: #ffffff;

  text-align: center;
  transition: transform 400ms ease-in;
}
